  
{% extends "base.html" %}


{% block main %}

        <h1>welcome to all our customers in out online shop</h1> 
        <p>we   -------------------> look down abit to know what we want to say</p>
        <p>are  -------------------> abit more</p>
        <p>here -------------------> abit more</p>
        <p>for  -------------------> abit more</p>
        <p>you  -------------------> abit more</p>
        <p>!3>  -------------------> it's right down'</p>
        <p>
            In our shop we have a list of products , if you like to see the list you can type in the web link bar and type next to the line /products_list .<p></p>
            after you see all the products you can see the product you want and its information by typing next to the we link /product/product_name
            <p></p>
            
        </p>
        <p>see</p>
        <p>you</p>
        <p>next</p>
        <p>time</p>
        <p>guys!</p>
        <h4>Have a nice time :D</h4>
{% endblock %}


